ace-window/
auctex/
avy/
beginend/
biblio.el/
company-bibtex/
company-coq/
company-flx/
company-math/
company-mode/
counsel-projectile/
dash.el/
diff-hl/
diminish.el/
emacs-async/
emacs-fish/
Emacs-wgrep/
emacs-which-key/
epkgs/
epl/
expand-region.el/
flx/
flycheck-ocaml/
flycheck/
highlight-symbol.el/
hydra/
magit/
markdown-mode/
math-symbol-lists/
melpa/
merlin/
nv-delete-back/
ocaml/
org-bullets/
parsebib/
pkg-info.el/
projectile/
qml-mode/
rainbow-mode/
seq/
swiper/
systemd-mode/
tuareg/
undo-tree/
use-package/
with-editor/
ws-butler/
yaml-mode/
yasnippet/
